
/* LOGO */
.logoprincipal{
  width: 75px;
  height: 75px;
}

/* NAV */
.navbar .nav-link {
  color: rgb(253, 249, 249);
}

.navbar .nav-link:hover {
  color: rgb(8, 240, 228);
}

.navbar .nav-link.active {
  color: rgb(8, 240, 228);
}

/* CARRITO */
.cart-widget {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  font-size: 14px;
  color: rgb(253, 249, 249);
  transition: color 0.3s; /* Agrega una transición suave */
}

.cart-widget:hover {
  color: rgb(8, 240, 228);
}

.cart-icon {
  font-size: 30px; 
}


/* SALUDO */
.item-list-container{
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  text-align: center;
  
}

/* DETAIL */

.tel .mail{
  font-weight: italic;
}

.fotodetail{
  display: flex;
  justify-content: center;
}



